.conteneur{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.g{
    height: 50rem;
    width: 33.3%;
    background-color: #265E92;
}

.m{
    height: 50rem;
    width: 33.3%;
    display: flex;
    align-items: center;
}

.d{
    background-image: url("../../images/NavBar/fond_NavBar.jpg");
    height: 50em;
    width: 33.3%;
}